<%- include("partials/header"); -%>
  
  <h3><%=title%></h3>
  <h4><%=content%></h4>
  <form action="/delete" method="post">
    <button type="submit" name="deleteID" value="<%=id%>" class="btn btn-danger">
        Delete Post
    </button>
</form>

<%- include("partials/footer"); -%>
